</div>
<br/>
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3">
        <label>New Password</label>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-lock"></i>
            </div>
            <input class="form-control" id="newPassword" name="newPassword" value="" placeholder="Enter the New Password" type="password">
            <input class="form-control" id="password confirmation" name="password confirmation" value="" placeholder="Enter password confirmation" type="password">
            <input type="submit">
        </div>
    </div>
    <!-- /.input group -->
</div>
<br/>
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3">
        <label>Confirm Password</label>
    </div>http://localhost:3000/password-reset/61b7e084150b3b637bfe6b15/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2MWI3ZTA4NDE1MGIzYjYzN2JmZTZiMTUiLCJpYXQiOjE2Mzk2MDk5MzAsImV4cCI6MTYzOTYwOTkzMH0.iy8Kz56ECfB-UXjt8a81Iskvkq9dDCdmbY3x0h4hlw4
    <!-- /.input group -->
</div>

</form>