<div class="row mt-5">
    <div class="col-md-6 m-auto">   
            <h2>
                <p>Dear <%= firstName %>,<br>for reset password click on link below.</p><br>
                <a href='<%= link %>' >CONFIRM</a>
            </h2>
    </div>
</div>