<div class="row mt-5">
    <div class="col-md-6 m-auto">
            <h2>
                <p>Oops...</p>
            </h2>
            <p>
                <%= data.message %>
            </p>
    </div>
</div>