<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1 class="mb-3">
                <img src="/assets/secure-icon.png" alt="icon" width="20%" />
            </h1>
            <h2>
                Error
            </h2>
            <h3>
                <p><%= data.message %></p>
            </h3>
            <p class="mt-4">
                New User? <a href="/v1/auth/signup">Register</a>
            </p>
            <p>
                Sign In? <a href="/v1/auth/signin">Login</a>
            </p>
            <p>
                Forgot Password? <a href="/v1/auth/forgot">Reset</a>
            </p>
        </div>
    </div>
</div>