<%- include("../partials/header"); %>
    <main>
        <form action="resetPassword" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" name="email" aria-describedby="emailHelp" value=<%=email %>
                readonly>
                <label for="exampleInputEmail1" class="form-label">Enter new password:</label>
                <input type="text" class="form-control" name="password" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Confirm new password in the next field </div>
                <input type="text" class="form-control" name="confirmPassword" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    </body>

    </html>