<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <form action="/v1/books/upload" enctype="multipart/form-data" method="post" name="file"></form>
                <label>File to stash:</label>
                <input type="file" name="file" required />
                <input type="submit" value="Stash the file!" />
            </form>
        </div>
    </div>
</div>