<!DOCTYPE html>
<html lang="en">
<head>
  <title>Socket.IO chat</title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel='stylesheet' href="assets/css/chat.css">
</head>
<body class="container">

  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>

    <script src="assets/js/chat.js"></script>
</body>
</html>