<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head'); %>
    
<body class="container">

    <%- include('./partials/header'); %>

<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 m-auto">
                <div class="card card-body text-center">
                    <h1 class="mb-3">
                        <img src="/assets/secure-icon.png" alt="icon" width="20%" />
                    </h1>
                    <h2>
                        Forgot Password
                    </h2>
                    <form action="/auth/forgot-password" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send me a password reset link</button>
                    </form>
                    <p class="mt-4">Remember password?<a href="/auth/signin"> Sign In</a></p>
                </div>
            </div>
        </div>
    </div>
</main>

    <%- include('./partials/footer'); %>

</body>
</html>