<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head'); %>
    
<body class="container">

    <%- include('./partials/header'); %>

<main>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body text-center">
                <h1><img src="/assets/secure-icon.png" alt="icon" width="20%" /></h1>
                <p>Login to an existing account or register</p>
                <a href="/auth/signin" class="btn btn-primary btn-block">Sign In</a>
                <a href="/auth/signup" class="btn btn-secondary btn-block mb-2">Sign Up</a>
            </div>
        </div>
    </div>
    </div>
</main>

    <%- include('./partials/footer'); %>

</body>
</html>